<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav>
    <ul class="nav-list">
      <li><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a></li>
      <li *ngIf="authService.logIn"><a class="nav-link" routerLink="profile" routerLinkActive="active">Profile</a></li>
      <li *ngIf="usersServices"><a class="nav-link" routerLink="register" routerLinkActive="active">Register</a></li>
      <li *ngIf="!authService.logIn"><a class="nav-link" routerLink="login" routerLinkActive="active">Login</a></li>
      <li *ngIf="authService.logIn"><a class="nav-link" (click)="logout()" href="#">Logout</a></li>
    </ul>
  </nav>
</header>

<div class="content">
  <!-- Your page content goes here -->
  <router-outlet></router-outlet>
</div>